<div>
  <%= hidden_field_tag :since, @latest %>

  <table>
  <% @feed.each do |historical_cap| %>
    <% parsed = historical_cap.parse %>
    <tr>
      <td><%= parsed.infos[0].event || "No event text available" %></td>
      <td><%= parsed.infos[0].urgency %></td>
      <td><%= parsed.infos[0].severity %></td>
      <td><%= historical_cap.created_at %></td>
      <td><%= link_to 'Show', historical_cap_path(historical_cap, format: :xml), :target => "_blank", :class=> "btn btn-success" %></td>
    </tr>
  <% end %>
</table>
</div>
