<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
      <%= image_tag("fia-logo-color.svg", :alt => "fia logo", :height => 30, :class=> "d-inline-block align-top") %>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= "active" if request.path.include? "cap_forms" %>">
        <%= link_to "New Alert", new_cap_form_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= "active" if request.path.include? "historical" %>">
        <%= link_to "Alerts", historical_caps_path, class: 'nav-link' %>
      </li>
      <% if current_user %>
        <% if current_user.admin? %>
          <li class="nav-item <%= "active" if request.path.include? "users" %>">
            <%= link_to "Users", users_path, class: 'nav-link' %>
          </li>
        <% end %>
        <li class="nav-item ">
          <%= link_to "Logout", destroy_user_session_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login",  new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
